body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.span-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    /* background-color: red; */
    background-image: linear-gradient(red, orange);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-part {
    padding-right: 15px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experience-item {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px grey;
    padding: 20px;
}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}